# Unity3D .gitignore file.
# Store this file at the root of your local repository.
.DS_Store
2DTest/Library/*
Temp
*.csproj
*.pidb
*.sln
*.log
2DTest/Library/assetDatabase3
2DTest/Library/metadata/*
2DTest/Library/metadata/00/00000000000000004000000000000000
*.info
2DTest/Library/metadata/6d/6dec562068e964a4ab0199b02064f8fb
*.log
